{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section-conten padding-y" id="dynamic_height" >
        <!-- ============================ COMPONENT LOGIN   ================================= -->
            <div class="card mx-auto" style="max-width: 600px; margin-top:10%;">

              <div class="card-body my_shadow border rounded">
              <h4 class="card-title mb-4 text-muted">Forgot Password</h4>

              <form action="{% url 'forgotPassword' %}" method='POST'>
                  {% csrf_token %}

                  <div class="form-group mb-4">
                     <input type="email" class="form-control only_inner_shadow" placeholder="Email Address" name='email' required>
                  </div> <!-- form-group// -->

                  <div class="form-group d-flex justify-content-center">
                      <button type="submit" class="btn btn-outline-primary btn-block my_shadow px-4 py-1"> Submit  </button>
                  </div> <!-- form-group// -->
              </form>
              </div> <!-- card-body.// -->
            </div> <!-- card .// -->

             <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}"
                                                                class="btn btn-success btn-sm py-0 px-2">Sign up</a></p>
             <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


        </section>
{% endblock %}