{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-conten padding-y" id="dynamic_height">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 480px; margin-top:10%;">

          <div class="card-body inner_shadow border rounded px-5 py-4">
          <h4 class="card-title mb-4">Reset Password </h4>

          <form action="{% url 'resetPassword' %}" method='POST'>
              {% csrf_token %}

              <div class="form-group">
                <input type="password" class="form-control mb-3 only_inner_shadow" placeholder="Create Password" name='password'>
              </div> <!-- form-group// -->

              <div class="form-group">
                <input type="password" class="form-control mb-3 only_inner_shadow" placeholder="Confirm Password" name='confirm_password'>
              </div> <!-- form-group// -->

              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block px-5 my_shadow"> Reset  </button>
              </div> <!-- form-group// -->
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->

         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}" class="btn btn-sm btn-success py-0 px-2">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


    </section>

{% endblock %}