{% extends 'base.html' %}
{% load static %}
{% load nums_to_list %}
{% block content %}

    <div class="container" id="dynamic_min_height">
        <div class="center80">
                    <div class="row p-0 m-0">
                        <div class="col-12 p-2 d-flex justify-content-center">
                                <a href="{% url 'prev_item' item.id %}" role="button"
                                   class="{% if no_prev %} disabled {% endif %} my_shadow_sm prev_btn"
                                >  &#10094; PREV</a>

                                <a href="{% url 'next_item' item.id %}" role="button"
                                   class="{% if no_next %} disabled {% endif %} my_shadow_sm next_btn"
                                > NEXT &#10095; </a>
                            </div>
                        <div class="col-12 item_detail_title">
                            <h4 class="p-2 rounded my_shadow_sm" style="background: #f0f0f5; color: #3d3d5c; text-align: center"> <small> {{item.status}} </small> : {{item|title}}
                            <a href="{% url 'by_category' item.category.id %}">
                                   <span>in {{item.category}}</span>
                            </a>
                            </h4>
                        </div>

                </div>
            <div class="row">
              <div class="col-md-4">
                      <div class="card col-sm-12 mb-2 my_shadow_sm" style="background: #f0f0f5;">
                            <div class="card-header">
                                 <strong>Details</strong>
                            </div>

                            <div class="card-body p-2">

                                  <p class="card-text"> Price : {{item.price}} </p>
                                  <p class="card-text"> Date : {{item.modified_date|date:"F d, Y"}}</p>
                                  <p class="card-text"> Author : {{item.author.username|title}}</p>
                                      <hr class="m-1">
                                <div class="d-flex flex-row-reverse m-0">

                                 {% if request.user.is_authenticated %}
                                        {% if request.user != item.author %}
                                            {% if not saved %}
                                                <form action="{% url 'save_item' %}" method='post'>
                                                    {% csrf_token %}
                                                    <input type="email" id="id_user" name="user" required value="{{request.user}}" hidden>
                                                    <input type="text" id="id_item" name="item" required value="{{item.id}}" hidden>
                                                    <button class="my_save_icon m-2" type="submit" style="border:none; background: none;">
                                                  <img src="/media/icons/save.svg" class="my_shadow" alt="Save icon"></button>
                                                </form>
                                            {% else %}
                                                <form action="{% url 'del_save_item' %}" method='post'>
                                                    {% csrf_token %}
                                                    <input type="text" id="id_item2" name="item2" required value="{{item.id}}" hidden>
                                                    <button class="my_save_icon m-2" type="submit" style="border:none; background: none;">
                                                  <img src="/media/icons/saved.svg" class="my_shadow" alt="Saved icon"></button>
                                                </form>
                                            {% endif %}
                                            <a href="#" id="open_modal" class="my_save_icon mt-2">
                                                <img src="/media/icons/chat.svg" class="my_shadow" alt="Message icon">
                                            </a>
                                            <div id="delete_modal" class="my_delete_modal">
                                                <div class="chat_modal_content">
                                                    <form class="col s12" action="{% url 'send_msg' %}" method='POST'>
                                                      {% csrf_token %}

                                                    <div class="">
                                                        <div class="card-body p-0">
                                                            <h6 class="card-title text-muted">Subject:
                                                                <span class="my_spantext">{{item.item_name|truncatechars:70}}</span>
                                                                for <small>${{item.price}}</small>
                                                            </h6>
                                                            <h6 class="card-subtitle mb-1 text-muted">To "<span class="my_spantext">{{item.author.first_name|title}} {{item.author.last_name|title}}</span>"

                                                            </h6>
                                                            <p class="text-muted m-0 p-0">Message:</p>
                                                            <input type="text" id="receiver" name="receiver"
                                                                     class="form-control inner_shadow" minlength="5"
                                                                     value="{{item.author}}" required hidden>
                                                            <input type="text" id="item" name="item" value="{{item.id}}"
                                                                     class="form-control inner_shadow" minlength="5" required hidden>
                                                            <textarea id="msg" name="msg" rows="2" cols="36" required
                                                            class="border rounded fst-italic ps-2 pt-1"></textarea>

                                                                <a role="button" href="#" type="button"
                                                            class="btn btn-outline-secondary py-0 mt-2 btn-sm my_shadow px-4 my_btn" id="close_modal">Cancel</a>

                                                            <button type="submit" class="btn btn-outline-success py-0 mt-2 btn-sm my_shadow px-4 my_btn"> Send Message  </button>

                                                        </div>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>

                                        {% else %}
                                            <a href="{% url 'item_update' item.id %}" type="button"
                                               class="btn btn-sm py-0 px-4 m-2 my_shadow my_btn"
                                            style="background: #5c8a8a; color: #f0f5f5;"
                                            >Edit</a>
                                            <a role="button" href="#" type="button"
                                                   class="btn btn-sm py-0 mt-2 mb-2 me-1 my_shadow my_delete_btn my_btn"
                                                   style="background: #cc6666; color: #f9ecec;"
                                                    id="open_modal_{{item.id}}">Delete</a>

                                            <div id="delete_modal_{{item.id}}" class="my_delete_modal">
                                                <div class="delete_modal_content">
                                                    <h6>Item "{{item|title}}".</h6>
                                                    <p>Please confirm to delete!</p>
                                                    <a role="button" href="{% url 'item_delete' item.pk %}" type="button"
                                                        class="btn btn-outline-danger py-0 mt-2 me-2 btn-sm my_shadow me-4 px-4 my_btn">Delete</a>
                                                    <a role="button" href="#" type="button"
                                                        class="btn btn-outline-secondary py-0 mt-2 btn-sm my_shadow px-4 my_btn"
                                                       id="close_modal_{{item.id}}">Close</a>
                                                </div>
                                            </div>

                                            <script type="text/javascript">
                            $(document).ready(function(){
                                $('#open_modal_{{item.id}}').click(function() {
                                    var vis = $('#delete_modal_{{item.id}}').is(':visible')
                                    if(vis){
                                        $("#delete_modal_{{item.id}}").hide();
                                    }
                                    else{
                                        $("#delete_modal_{{item.id}}").show();
                                    }
                                });
                            });

                            $(document).ready(function(){
                                $('#close_modal_{{item.id}}').click(function() {
                                    $("#delete_modal_{{item.id}}").hide();
                                });
                            });
                        </script>
                                        {% endif %}
                                    {% else %}
                                        <a href="{% url 'login' %}?next={{request.path}}" class="btn btn-sm btn-outline-secondary">Login to contact</a>
                                    {% endif %}
                                </div>
                            </div>

                      </div>
              </div>

              <div class="col-md-8">
                  <div class="d-flex justify-content-center">
                    <img class="item_detail_img my_shadow" id="main_img" src="{{item.image1.url}}" alt="Item picture">
                  </div>
                  <div class="col-sm-12 my-2 item_detail_list_gallery">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#" class="gallery_img_a">
                                    <img class="item_detail_img_thm" src="{{item.image1.url}}" alt="Item picture">
                                    </a>
                                {% for image in gallery%}
                                    <a href="#" class="gallery_img_a">
                                    <img class="item_detail_img_thm" src="{{image.image.url}}" alt="Item picture">
                                    </a>
                                {% endfor %}
                                </li>
                            </ul>
                  </div>
              </div>
            </div>

            {% if item.description %}
                <div class="col-12" >
                    <div class="card mb-3 my_shadow_sm" style="background: #f0f0f5;">
                      <div class="card-header"><strong>Description</strong></div>
                      <div class="card-body">
                        <p class="card-text"> {{item.description}} </p>
                      </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>


    <div id="image_gallery" class="my_image_modal">
        <div id="image_carousel" class="carousel slide" data-bs-touch="true" >
          <div class="carousel-indicators indicator_btns">
            <button type="button" data-bs-target="#image_carousel" data-bs-slide-to="0"
                    class="active p-1" aria-current="true" aria-label="Slide 1"></button>
              {% for i_num in gallery.count|nums_to_list %}
                <button type="button" data-bs-target="#image_carousel" data-bs-slide-to="{{i_num}}"
                    class="p-1"    aria-label='Slide {{i_num|add:"1"}}'></button>
              {% endfor %}
          </div>
          <div class="carousel-inner">

            <div class="carousel-item p-2 pt-4 active">
              <img src="{{item.image1.url}}" class="d-block my_shadow" alt="Item picture">
            </div>

              {% for image in gallery%}
            <div class="carousel-item p-2 pt-4">
              <img src="{{image.image.url}}" class="d-block my_shadow" alt="Item picture">
            </div>
              {% endfor %}

          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#image_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#image_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
           <button id="img_modal_close" class="btn btn-danger m-4 my_shadow my_btn"
                   style="position: absolute; top: 0px; right: 0px; z-index: 2;"> CLOSE </button>
        </div>
    </div>

<script src="{% static 'js/image_thm.js' %}"></script>

{% endblock%}