{% extends 'base.html' %}
{% load static %}
{% block content %}
   <div class="container-md">

       <h3> <span class="my_spantext"> Saved Items </span>
       <a href="#" type="button"
                   class="btn btn-outline-dark btn-sm mx-3 py-0 px-2 disabled"> {{s_items.count}} </a>
       </h3>
       <hr>
       <div id="dynamic_height" class="p-2">

           {% for item in s_items %}
                <div class="row inner_shadow m-0 mb-2 rounded px-1 py-2" style="background: {% cycle '#f0f0f5' 'whitesmoke' %};">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <a href="{% url 'item_detail_view' item.item.id %}">
                        <img class="my_items_img my_shadow" src="{{item.item.image1.url}}" alt="Item picture">
                            </a>
                    </div>
                    <div class="col-10 py-2" style="font-size: 0.9em;">
                        <div class="row">
                        <div class="col-sm-6">
                            <strong> {{ item.item|upper }} </strong> in {{item.item.category}}
                            <br> <b> Price: </b> {{item.item.price}} $  <br>
                            <b>Modified date: </b> {{item.item.modified_date|date:"d M Y"}} <br>

                                    <form action="{% url 'del_save_item' %}" method='post'>
                                        {% csrf_token %}
                                        <input type="text" id="id_item2" name="item2" required value="{{item.item.id}}" hidden>
                                        <button class="my_save_icon m-2" type="submit" style="border:none; background: none;">
                                      <img src="/media/icons/saved.svg" class="my_shadow" alt="Saved icon"></button>
                                    </form>

                        </div>
                        <div class="col-sm-6">
                            <h6>Description</h6>
                            <p class="text-muted">{{item.item.description|truncatechars:200}}</p>
                        </div>
                            </div>
                    </div>
                </div>
            {% endfor %}

        </div>
  </div>
{% endblock %}