{% load static %}
<nav class="navbar navbar-expand-lg fixed-top p-0 shadow-sm" style="background-color: #264d73;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img class="logo_img" src="{% url 'icons' 'logo1_w.png'%}"></a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
         style="background-color: #264d73; width: 300px; color: white">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" style="background-color: #264d73;">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item my_navicon"><a class="nav-link text-white" href="{% url 'home' %}">
              <img src="{% url 'icons' 'home_w.svg' %}" alt="Home icon"></a></li>

          {% if user.is_authenticated %}

          <li class="nav-item my_navicon"><a class="nav-link msg_open_toggle" href="#">
            <img src="/media/icons/chat_w.svg" alt="Messages icon">
              {% if msg_users.count > 0 %}
              <span class="my_badge_number">{{msg_users.count}}</span>
              {% endif %}
          </a></li>

            {% if items_no > 0 %}
          <li class="nav-item my_navicon"><a class="nav-link" href="{% url 'my_items' user.id %}">
            <img src="/media/icons/my_items_w.svg" alt="My Items icon">
<!--              <span class="my_badge_number">{{items_no}}</span>-->
          </a></li>
            {% endif %}

            {% if s_items %}
                <li class="nav-item my_navicon"><a class="nav-link" href="{% url 'saved_items'%}">
                    <img src="/media/icons/saved_w(1).svg" alt="Saved Item icon">
<!--                    <span class="my_badge_number">{{s_items.count}}</span>-->
                </a>
                </li>
            {% endif %}

          <li class="nav-item my_navicon"><a class="nav-link" id="add_item_link" href="{% url 'add_item' %}">
            <img src="/media/icons/post_items_w.svg" alt="Post item icon">
<!--              <span class="my_badge_number">+</span>-->
          </a></li>

          <div id="msg_box">

            <div class="msg_users">
                    {% if msg_users.count == 0 %}
                        <div class="d-flex justify-content-center">
                            <span class="my_spantext"><h6>No messages</h6></span>
                        </div>
                    {% endif %}
                <a href="{% url 'my_msgs' %}" class="btn btn-sm btn-outline-success my_shadow_sm p-0 px-2 mb-2">
                    <h9>My Messages</h9>
                </a>
                {% for user in msg_users %}

                    <div>
                      <button class="msg_btn msg_app{{user.id}} my_shadow_sm mb-1 p-0"
                      style="background: #b3cce6; width:100%; font-size: 0.8em; border: solid 1px #d9e6f2">
                          {{user.first_name|title}} {{user.last_name|title}}</button>
                    </div>

                      <div class="msg_block msg_block{{user.id}} my_shadow_sm">

                          {% for msg in msgs %}
                            {% if msg.sender == user or msg.receiver == user %}
                              <p class="my_msg_time {% if msg.sender != request.user %}right{%endif%}">

                                {{ msg.created_at }} </p>
                              <p class="my_msg_content {% if msg.sender != request.user %}right{%endif%} mb-0">
                                {{ msg.content|capfirst }}
                                <a href="{% url 'item_detail_view' msg.subject.id %}" class="m-0 p-0"><span class="my_badge">Item</span></a>
                              </p>

                                {% if msg.sender != request.user %}
                                            <div class="p-0 pb-2 m-0 right">
                                              <a class="btn btn-sm p-0 m-0 px-2 open_msg_{{msg.id}}"
                                                    style="background: #75a3a3; color: #f0f5f5; font-size: 0.7em;">Reply</a>
                                            </div>
                                    {% else %}
                          <form action="{% url 'delete_msg' %}" method="post">
                              {% csrf_token %}
                              <input type="text" value="{{msg.id}}" name="msg_id" hidden>
                              <button type="submit" class="btn btn-sm p-0 m-0 px-2 mb-1 g-0 my_delete_btn float-right"
                                                    style="background: #d98c8c; color: #f9ecec; font-size: 0.7em;"> Delete </button>
                          </form>

                                  {%endif%}

                                <div id="delete_modal{{msg.id}}" class="my_delete_modal">
                                  <div class="chat_modal_content">
                                      <form class="col s12" action="{% url 'send_msg' %}" method='POST'>
                                        {% csrf_token %}
                                      <div class="">
                                          <div class="card-body">
                                              <h6 class="card-title text-muted">Subject:
                                                  <span class="my_spantext">{{msg.subject.item_name|truncatechars:70}}</span>
                                                    <small>for ${{msg.subject.price}}</small>
                                              </h6>

                                              <h6 class="card-subtitle mb-2 text-muted">
                                                  To "<span class="my_spantext">{{msg.sender.first_name|title}} {{msg.sender.last_name|title}}</span>"
                                                </h6>
                                              <p class="text-muted m-0 p-0">Message:</p>
                                              <input type="text" id="receiver" name="receiver"
                                                       class="form-control inner_shadow" minlength="5"
                                                       value="{{msg.sender.email}}" required hidden>
                                              <input type="text" id="item" name="item" value="{{msg.subject.id}}"
                                                       class="form-control inner_shadow" minlength="5" required hidden>
                                              <textarea id="msg" name="msg" rows="2" cols="40" required
                                              class="border rounded fst-italic ps-2 pt-1"></textarea>
                                                  <a role="button" href="#" type="button"
                                              class="btn btn-outline-secondary py-0 mt-2 btn-sm my_shadow px-4" id="close_modal{{msg.id}}">Cancel</a>
                                              <button type="submit" class="btn btn-outline-success py-0 mt-2 btn-sm my_shadow px-4"> Send Message  </button>

                                          </div>
                                      </div>
                                      </form>
                                  </div>
                                </div>
                                <script>
                                    $(document).ready(function(){
                                          $('.open_msg_{{msg.id}}').click(function() {
                                              $("#delete_modal{{msg.id}}").show();
                                               return false;
                                          });
                                      });
                                      $(document).ready(function(){
                                          $('#close_modal{{msg.id}}').click(function() {
                                              $("#delete_modal{{msg.id}}").hide();
                                          });
                                      });
                                </script>
                            {% endif %}
                          {% endfor %}

                      </div>

                    <script>
                      $(document).ready(function(){
                        $(".msg_app{{user.id}}").click(function(){
                            var $check_b = $(".msg_block{{user.id}}").is(':visible')
                              if($check_b){
                              $(".msg_block{{user.id}}").hide()
                              return false;
                            }
                            else
                            { $(".msg_block{{user.id}}").show()
                              return false;
                            };
                        });
                      });
                    </script>

                {% endfor %}

              </div>

            <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-outline-danger mt-2 py-0 px-5 msg_open_toggle my_shadow"
                style="font-size: 0.5em;"> X </button>
            </div>
          </div>

          <li class="nav-item dropdown text-white my_navicon" style="background-color: #264d73;">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <img src="/media/icons/settings_w.svg" alt="Post item icon">
            </a>
            <ul class="dropdown-menu mb-2">

<!--              <li><hr class="dropdown-divider"></li>-->
                <li><a class="dropdown-item p-1 ps-2" href="#">Dashboard</a></li>
                <li><a class="dropdown-item p-1 ps-2" href="#">Messages</a></li>
                <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item p-1 ps-2" href="{% url 'logout' %}">Log Out</a></li>

            </ul>
          </li>
            {% else %}
            <li class="nav-item my_navicon"><a class="nav-link text-white" href="{% url 'login' %}">
                <img src="/media/icons/login.svg" alt="Login icon"></a></li>
            {% endif %}
        </ul>

        <form action="{% url 'item_search' %}" class="d-flex mt-1 mb-2 my_search_form" role="search" id="search_form">
          {% csrf_token%}
          <input class="form-control me-2 only_inner_shadow" type="search" name="q"
                 placeholder="Search" aria-label="Search" id="search_input" reqired>
          <button class="btn btn-outline-light" id="search_btn" type="submit">Search</button>
        </form>

      </div>
    </div>
  </div>
</nav>

<div class="container mb-5"></div>
<div class="container mb-5"></div>

<script>


$(document).ready(function(){
    $(".msg_open_toggle").click(function(){
        var $check_b = $("#msg_box").is(':visible')
          if($check_b){
          $("#msg_box").hide()
          return false;
        }
        else
        { $("#msg_box").show()
          return false;
        };
    });
    });

$(document).ready(function(){
    $("#search_form").submit(function(event){
        var $chars = $('#search_input').val().length;
        if($chars<3){
          alert('Please enter more the 3 characters to search!')
          console.log($chars);
          event.preventDefault();}
    });
});
</script>
 {% include 'includes/messages.html'%}
