{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-3 p-3">

                {% include 'includes/_categories.html' %}

            </div>

            <div class="col-lg-9 border">
                <div class="container ps-0">
                    <div class="row">

                        <div class="col-8">
                            <h3> <span class="my_spantext"> Recent Items </span> </h3>
                        </div>

                        <div class="col-4 d-flex justify-content-end align-items-end">
                            <a class="my_icon" id="my_list_template">
                                <img src="/media/icons/list_view.svg" alt="Post item icon">
                            </a>
                            <a class="my_icon" id="my_card_template">
                                <img src="/media/icons/card_view.svg" alt="Post item icon">
                            </a></div>
                        </div>

                    <hr>
                    <div id="dynamic_height">


                {% for item in items %}

                       {% include 'includes/_item_cards.html' %}

                {% endfor %}

                   </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}